@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contact Manager SPIKE</h1>
  <p class="lead">This is a SPIKE of a potential 'Contact Manager' application for Centric Consulting. It is not a real applicaiton, even though the data saves. 
  It is meant as a sandbox for trying new features and as a discussion starting point for the actual applicaiton that will be created.</p>
</div>